* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.calc {
  background-color: black;
  min-width: 33vw;
  height: 95vh;
  border-radius: 20px;
  padding: 2%;
  margin: 2%;
  position: relative;
}

.calc__output {
  font-size: 6em;
  text-align: right;
  height: 20vh;
  max-width: 30vw;
  width: 30vw;
  overflow: hidden;
  padding: 3%;
  color: white;
  font-family: helvetica;
}

.calc__buttons-container {
  height: 75%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.operators,
.operatorsDm,
.equals {
  background: orange;
  font-size: 190%;
}

.functions {
  background-color: #a5a5a5;
  color: black;
}

.numbers {
  background: #494949;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 55px;
  width: 90%;
  text-align: left;
  padding-left: 10%;
}

button {
  border-radius: 50%;
  height: 95%;
  width: 90%;
  color: white;
  font-size: 150%;
  border: none;
  cursor: pointer;
  font-family: helvetica;
}

button:focus {
  filter: brightness(130%);
  transition: filter 0.2s;
}

button:active {
  filter: brightness(130%);
  transition: filter 0.2s;
}

.calc__line {
  width: 120px;
  height: 5px;
  background: white;
  border-radius: 4px;
  position: absolute;
  bottom: 5px;
  left: 140px;
}

@media screen and (max-width: 420px) {
  .calc {
    background-color: black;
    width: 85vw;
    height: 95vh;
  }

  .calc__output {
    font-size: 4em;
    max-width: 80vw;
    width: 80vw;
    text-align: right;
    overflow: hidden;
    height: 30vw;
    padding: 2%;
    color: white;
    font-family: helvetica;
  }
}
@media screen and (max-width: 768px) and (min-width: 421px) {
  .calc {
    background-color: black;
    min-width: 60vw;
    height: 95vh;
    border-radius: 20px;
    padding: 2%;
    margin: 2%;
    position: relative;
  }

  .calc__output {
    font-size: 7em;
    max-width: 65vw;
    width: 65vw;
    text-align: right;
    overflow: hidden;
    height: 30vw;
    padding: 2%;
    color: white;
    font-family: helvetica;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .calc {
    background-color: black;
    min-width: 60vw;
    height: 95vh;
    border-radius: 20px;
    padding: 2%;
    margin: 2%;
    position: relative;
  }

  .calc__output {
    font-size: 6em;
    max-width: 65vw;
    width: 65vw;
    text-align: right;
    overflow: hidden;
    height: 20vw;
    padding: 2%;
    color: white;
    font-family: helvetica;
  }
}